.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 400px;
  height: auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: .2rem;
  justify-content: start;
  background-color: #fafafa;
  color: #241412;
}

h3 {
  align-self: center;
  margin: 0 0 10px 0;
}

.input-text, .input-date, .radio {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.input-checkbox {
  font-weight: 600;
}
input[type="text"], input[type="date"], select {
  width: 250px;
}

.input-title {
  font-weight: 600;
  margin: 3px 0 0 0;
}

.input-radio, .input-checkbox, .input-file {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 400px;
}

.input-file .input-title {
  width: 160px;
}

input[type="file"] {
  width: 190px;
}

.radio {
  align-items: center;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.error-message {
  color: red;
  font-size: .8rem;
  text-align: center;
}

.success-message {
  align-self: center;
  color: green;
}

button[type="submit"] {
  background: none;
  background-color: #c4c4c4;
  width: 80px;
  border-radius: 15px;
  align-self: center;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: all .2s;
}
ul {
  margin: 20px;
  padding: 0;
}

button[type="submit"]:hover {
  transform: scale(1.1);
}