.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.form {
  width: 450px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  background-color: #fafafa;
  color: #241412;
}

.input-text, .input-date, .input-checkbox, .radio {
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.input-checkbox {
  font-weight: 600;
}

.input-radio {
  display: flex;
  flex-direction: column;
}

.errors {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  color: red;
}

.errors p {
  text-align: center;
}

.success-message {
  color: green;
}